/*------------------------------------*\
  # TABLES
\*------------------------------------*/
/*------------------------------------*\
  # Color variables
\*------------------------------------*/
/*------------------------------------*\
  # Sizes
\*------------------------------------*/
/*------------------------------------*\
  # Font strings
\*------------------------------------*/
@import url(~typeface-roboto-condensed/index.css);
@import url(~typeface-roboto/index.css);
@import url(~material-design-icons/iconfont/material-icons.css);
input[hidden] {
  font-size: 0;
  padding: 0;
  margin: 0;
  border: 0; }

.table {
  padding: 0;
  border-spacing: 1px;
  border: 1px solid gray;
  margin-bottom: 0px;
  table-layout: fixed; }
  .table td {
    padding: 0; }

.table__title {
  line-height: 40px;
  margin-bottom: 10px;
  padding-left: 10px;
  background-color: #EAEAEA;
  font-family: "Roboto", sans-serif;
  font-size: 24px; }

input[class$="-cell"] {
  border: none;
  min-width: 0;
  line-height: 1.42857143 !important;
  height: 100%;
  min-height: 30px;
  word-break: break-word; }

input[class$="-cell"]:focus {
  outline: 2px solid #548CB7; }

.number-cell {
  text-align: right;
  font-size: 10px;
  border-collapse: collapse; }

.string-cell {
  text-align: left;
  font-size: 11px;
  color: grey;
  width: 200px;
  overflow: hidden; }

h2.table-title {
  font-family: Roboto, sans-serif; }

.table {
  table-layout: auto !important;
  width: 100%;
  height: 100% !important;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-style: normal;
  border-collapse: collapse !important; }
  .table tr:nth-child(even) {
    background-color: #F5F5F5; }
  .table td, .table th {
    border: 1px solid #EAEAEA !important;
    vertical-align: bottom !important; }
  .table thead th {
    padding: 12px 4px 12px 3px !important;
    background-color: #666666;
    color: white; }
  .table th {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    hyphens: auto; }
  .table .th-number {
    text-align: right !important; }
  .table .th-common {
    text-align: center !important; }
  .table .th-mul-row {
    vertical-align: middle !important; }
  .table td {
    padding: 0 !important;
    /* to have inputs inside cells*/
    position: relative; }
  .table .units {
    white-space: nowrap; }
  .table .units:not(.no-before)::before {
    content: ", ";
    white-space: pre-line; }

.non-wrapping-table {
  border-collapse: collapse;
  border-top: none; }

/*------------------------------------*\
  # INSIDE TABLES
\*------------------------------------*/
.removeleftborder.removeleftborder {
  border-left: none !important; }

.removetopborder.removetopborder {
  border-top: none !important; }

.removerightborder.removerightborder {
  border-right: none !important; }

.removebottomborder.removebottomborder {
  border-bottom: none !important; }

.insidetable {
  height: 100%;
  margin: 0 !important;
  border: none; }
