/*------------------------------------*\
  # Color variables
\*------------------------------------*/
/*------------------------------------*\
  # Sizes
\*------------------------------------*/
.table {
  padding: 0;
  border-spacing: 1px;
  border: 1px solid gray;
  margin-bottom: 0px; }

.note-editable table td {
  color: transparent !important;
  text-shadow: 0 0 0 #000 !important; }

.elog-journal-table {
  display: inline-table;
  table-layout: auto !important;
  width: auto !important;
  margin-bottom: 0 !important;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-style: normal;
  border-collapse: collapse !important; }
  .elog-journal-table .cell {
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
    transition: none;
    box-sizing: border-box;
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none; }
    .elog-journal-table .cell.selection-mode {
      background-color: #337ab7;
      transition: .2s;
      color: #ffffff; }
      .elog-journal-table .cell.selection-mode:hover {
        background-color: #285f8f; }
    .elog-journal-table .cell .data-icons-container {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%; }
    .elog-journal-table .cell .data-icon {
      display: none;
      color: #000; }
      .elog-journal-table .cell .data-icon:not(:last-child) {
        margin-right: 4px; }
      .elog-journal-table .cell .data-icon:last-child {
        margin-right: 10px; }
    .elog-journal-table .cell.has-name .name {
      display: block; }
      .elog-journal-table .cell.has-name .name img {
        width: 18px; }
    .elog-journal-table .cell.has-type .data-icon-type {
      display: block; }
      .elog-journal-table .cell.has-type .data-icon-type img {
        width: 20px; }
    .elog-journal-table .cell.has-units .data-icon-units {
      display: block; }
      .elog-journal-table .cell.has-units .data-icon-units img {
        width: 14px; }
    .elog-journal-table .cell.selected {
      background-color: #9BB3DA; }
      .elog-journal-table .cell.selected:hover {
        background-color: #9BB3DA; }
  .elog-journal-table tr:nth-child(even) {
    background-color: #F5F5F5; }
  .elog-journal-table td, .elog-journal-table th {
    border: 1px solid #E6E6E6 !important;
    vertical-align: middle !important;
    font-size: 14px;
    min-width: 120px !important;
    min-height: 35px !important;
    height: 35px !important; }
    .elog-journal-table td br, .elog-journal-table th br {
      display: none; }
    .elog-journal-table td table, .elog-journal-table th table {
      margin-bottom: 0 !important;
      height: 100% !important;
      width: 100% !important;
      border: none !important; }
      .elog-journal-table td table tr > td:first-child,
      .elog-journal-table td table tr > th:first-child, .elog-journal-table th table tr > td:first-child,
      .elog-journal-table th table tr > th:first-child {
        border-left: none !important; }
      .elog-journal-table td table tr > td:last-child,
      .elog-journal-table td table tr > th:last-child, .elog-journal-table th table tr > td:last-child,
      .elog-journal-table th table tr > th:last-child {
        border-right: none !important; }
      .elog-journal-table td table tr:first-child > td,
      .elog-journal-table td table tr:first-child > th, .elog-journal-table th table tr:first-child > td,
      .elog-journal-table th table tr:first-child > th {
        border-top: none !important; }
      .elog-journal-table td table tbody tr:last-child > td,
      .elog-journal-table td table tbody tr:last-child > th, .elog-journal-table th table tbody tr:last-child > td,
      .elog-journal-table th table tbody tr:last-child > th {
        border-bottom: none !important; }
  .elog-journal-table thead th {
    padding: 8px 5px;
    background-color: #666666;
    color: white; }
  .elog-journal-table tbody th {
    font-weight: bold;
    background-color: white;
    color: #666666; }
  .elog-journal-table th {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    hyphens: auto;
    padding-top: 6px;
    padding-bottom: 6px; }
    .elog-journal-table th input {
      background-color: #E9ECEF !important;
      border-radius: 2px !important; }
    .elog-journal-table th .text {
      float: left; }
    .elog-journal-table th.selected {
      background-color: #9BB3DA !important; }
  .elog-journal-table td {
    padding: 0 !important;
    /* to have inputs inside cells*/
    position: relative;
    border: none;
    min-width: 0;
    word-break: break-word;
    background: linear-gradient(-45deg, #9FBF47 0%, transparent 10px, transparent 100%); }
  .elog-journal-table th.changing-header {
    padding: 0 !important; }
    .elog-journal-table th.changing-header input {
      width: 100%;
      height: 100%;
      background: linear-gradient(-45deg, #9FBF47 0%, transparent 10px, transparent 100%);
      background-color: #666666 !important;
      color: #fff;
      font-weight: normal !important; }
  .elog-journal-table th.text-center input {
    text-align: center; }
  .elog-journal-table .th-number {
    text-align: right !important; }
  .elog-journal-table .th-common {
    text-align: center !important; }
  .elog-journal-table .th-mul-row {
    vertical-align: middle !important; }
  .elog-journal-table .has-data {
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 16px; }
  .elog-journal-table .is-repeated, .elog-journal-table .is-empty {
    outline: 1px solid #f56c6c; }
  .elog-journal-table .formula-cycles-error {
    outline: 1px solid #f56c6c; }
  .elog-journal-table .formula-cells-error {
    outline: 1px solid #f56c6c; }
  .elog-journal-table .formula-syntax-error {
    outline: 1px solid #f56c6c; }
  .elog-journal-table .indexed-line td {
    background-color: #f4f8ff; }
  .elog-journal-table .selected-line th, .elog-journal-table .selected-line td {
    background-color: #b8cae6 !important; }
  .elog-journal-table .units {
    white-space: nowrap; }
    .elog-journal-table .units::before {
      content: ", ";
      white-space: pre-line; }

.create-table .elog-journal-table th, .create-table .elog-journal-table td, .create-table .elog-journal-table .cell {
  cursor: pointer; }

.create-table .elog-journal-table tbody th {
  background-color: #666666;
  color: white; }

.create-table p {
  display: inline; }

.edit-data th, .edit-data td, .edit-data .cell {
  cursor: pointer; }

.edit-data p {
  display: inline; }

.table-item .body p {
  display: inline; }

@media (max-width: 1172px) {
  .elog-journal-table thead th {
    padding: 8px 2px !important; }
  .elog-journal-table tbody th {
    padding: 8px 2px !important; } }

@media (min-width: 1172px) and (max-width: 1272px) {
  .elog-journal-table thead th {
    padding: 8px 3px !important; }
  .elog-journal-table tbody th {
    padding: 8px 3px !important; } }

@media (min-width: 1272px) and (max-width: 1472px) {
  .elog-journal-table thead th {
    padding: 8px 4px !important; }
  .elog-journal-table tbody th {
    padding: 8px 4px !important; } }
